
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div class="login">
    <!--<div class="heading"> -->
        
        <main id="main-holder">

            <div class="login">
                <h1 id="login-header">Sign In</h1>

                @{ if(ViewData["Invalid"] != null)
                    {
                        <p class="login-error-msg">@ViewData["Invalid"]</p>
                    }

                }



                <!--<div id="login-error-msg-holder">
             <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
         </div> -->

                <form action="Verify" method="post" id="login-form">
                    <input type="text" name="Name" id="username-field" class="login-form-field" placeholder="Username">
                    <input type="password" name="Password" id="password-field" class="login-form-field" placeholder="Password">

                    <button type="submit" class="float">  Login</button>  <!--<a href="https://localhost:44318/Profile/Profile">-->
                </form>
            </div>
            </main>
            
</div>